@using Limak.Academy.Framework.Core.Enum;
@model Limak.Academy.Application.Contract.Dto.Teacher.TeacherCreateDto
@{
    ViewBag.Title = "ثبت مدرس";
}
<div class="teacher-create">
    <div class="card">
        <div class="card-body">
            <form autocomplete="off" action="@Url.Action("Create","Teacher")">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="FullName" class="form-label"></label><b class="text-danger">*</b>
                            <input type="text" class="form-control" asp-for="FullName">
                            <span class="field-validation-valid text-danger" asp-validation-for="FullName"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="file-preview exist hidden logo" hidden>
                                <div class="close fileinput-remove">&times;</div>
                                <div class="file-preview-thumbnails">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <input hidden asp-for="FileName" />
                            <label asp-for="FileName" class="form-label"></label>
                            <input type="file"
                                   class="form-control imageFile"
                                   accept=".jpg"
                                   data-preview-target=".file-preview.exist.logo"
                                   data-url="@Url.Action("Image","File")"
                                   data-folder-name="@FileFoldersEnum.Teacher.ToString()"
                                   asp-for="File" />
                            <span asp-validation-for="File"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>